<!-- locals: article -->

<h1><%= strip_tags(article.title) %></h1>
<h2><%= strip_tags(article.sub_title) %></h2>
<h3>Published in <%= link_to article.gazette.name, gazette_articles_url(article.gazette) %></h3>

<!-- We want to display the article's html tags -->
<p><%= raw(article.content) %></p>

<% article.photos.each do |photo| %>
  <%= link_to image_tag(@photos_dir + photo.select_fichier("thumbnail").filename,
    class: 'photo-thumbnail'), photo_path(photo) %>
<% end %>