<%# locals: commentable %>

<%= form_for([commentable, @comment]) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= raw negative_captcha @comment_captcha %>

  <div class="field">	  
	  <%= f.negative_text_area @comment_captcha, :content %>
  </div>
  <div class="field">
	  <%= f.negative_label @comment_captcha, :user, "What is your name" %><br />
	  <%= f.negative_text_field @comment_captcha, :user %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
