<%= form_for([@gazette, @article]) do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <legend>Enter article</legend>
    <div class="field">
      <%= f.label :title %><br />
      <%= f.text_field :title, size: 40 %>
    </div>
    <div class="field">
      <%= f.label :sub_title %><br />
      <%= f.text_field :sub_title, size: 40 %>
    </div>
    <div class="field">
      <%= f.label :content %><br />
      <%= f.text_area :content %>
    </div>
    <div class="field">
      <%= f.label :created_at %><br />
      <%= f.datetime_select :created_at %>
    </div>
    <div>
      <%= f.label :photos %><br />
      <% @all_photos.each do |photo| %>
        <% is_photo_exist = @article.photos.any? { |existing_photo| existing_photo.id == photo.id } %>
        <%= check_box_tag photo.to_name_id, photo.to_id, checked = is_photo_exist %>
        <%= label_tag "photo #{photo.id}" %>
        <%= image_tag (@photos_dir + photo.select_fichier("thumbnail").filename) %><br />
      <% end %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  </fieldset>
<% end %>
