<%= form_for([@gazette, @article]) do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <legend>Enter article</legend>
    <div class="actions">
      <%= f.submit %>
    </div>
    <div class="field">
      <%= label_tag "Convert to HTML" %><br />
      <%= check_box_tag :is_convert_to_html %>
    </div>
    <div class="field">
      <%= f.label :title %><br />
      <%= f.text_field :title, size: 40 %>
    </div>
    <div class="field">
      <%= f.label :sub_title %><br />
      <%= f.text_field :sub_title, size: 40 %>
    </div>
    <div class="field">
      <%= f.label :content %><br />
      <%= f.text_area :content %>
    </div>
    <div class="field">
      <%= f.label :created_at %><br />
      <%= f.datetime_select :created_at %>
    </div>
    <div>
      <%= f.label :photos %><br />
      <ul class="select-photos-list">
      <% @all_photos.each do |photo| %>
        <li>
        <%= f.fields_for :photos, photo do |photo_form| %>
          <% is_photo_selected = @article.photos.any? { |existing_photo| existing_photo.id == photo.id } %>
          <%= photo_form.check_box :is_selected, { checked: is_photo_selected, class: "parent" } %>
          <%= label_tag "photo #{photo.id}" %>
          <%= image_tag (@photos_dir + photo.select_fichier("thumbnail").filename) %><br />
        <% end %>
        </li>
      <% end %>
    </div>
  </fieldset>
<% end %>
