<%# locals: article %>

<div class="article">
  <h1><%= link_to strip_tags(article.title), gazette_article_url(article.gazette, article) %></h1>
  <h2><%= strip_tags(article.sub_title) %></h2>
  <h3>Published in <%= link_to article.gazette.name, gazette_articles_url(article.gazette) %></h3>
  
  <%# We want to display the article's html tags %>
  <p><%= raw(article.content) %></p>
</div>

<ul class="photos-list">
	<% article.photos.each do |photo| %>
	  <% photo_date = photo.taken_date.strftime("%b %-d at %H:%M") %>
		<li class="photo-item" id="item_<%= photo.id %>" 
		  tags="<% photo.tags.each { |tag| %><%= strip_tags(tag.name) %>,<% } %>">
			<div class="image-vertical-align">
			  <div class="image-horizontal-align">
			    <%= link_to image_tag(@photos_dir + photo.select_fichier('thumbnail').filename,
            class: "photo-thumbnail"), photo_path(photo, tags: params[:tags]) %>
        </div>
			</div>
			<span class="photo-title"><%= strip_tags(photo.title) %></span>
			<span class="photo-date"><%= strip_tags(photo_date) %></span>
		</li>
	<% end %>
</ul>