<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @article.title %>
</p>

<p>
  <b>Sub Title:</b>
  <%= @article.sub_title %>
</p>

<p>
  <b>Content:</b>
  <%= @article.content %>
</p>


<%= link_to 'Edit', edit_gazette_article_path(@gazette, @article) %> |
<%= link_to 'Back', gazette_articles_path(@gazette) %>
