<h1>Listing tag_links</h1>

<table>
  <thead>
    <tr>
      <th>Tag</th>
      <th>Tagable</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tag_links.each do |tag_link| %>
      <tr>
        <td><%= tag_link.tag %></td>
        <td><%= tag_link.tagable %></td>
        <td><%= link_to 'Show', tag_link %></td>
        <td><%= link_to 'Edit', edit_tag_link_path(tag_link) %></td>
        <td><%= link_to 'Destroy', tag_link, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tag link', new_tag_link_path %>
