<h1>Listing gazettes</h1>

<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @gazettes.each do |gazette| %>
  <tr>
    <td><%= gazette.name %></td>
    <td><%= gazette.description %></td>
    <td><%= link_to 'Show', gazette %></td>
    <td><%= link_to 'Edit', edit_gazette_path(gazette) %></td>
    <td><%= link_to 'Destroy', gazette, data: { confirm: "Are you sure?" }, method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Gazette', new_gazette_path %>
