<%= form_for(@photo) do |f| %>
  <% if @photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

      <ul>
      <% @photo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :existing_tags, "Existing Tags" %>
    <% Tag.all.each do |tag| %>
      <% tag_check_box_symbol = tag.to_tag_param_sym %>
      <% is_checked = false %>
      <% @photo.tags { |existing_photo_tag| is_checked = true if existing_photo_tag.id == tag.id } %>
      <%= check_box_tag tag_check_box_symbol, params[tag_check_box_symbol] %>
      <%= f.label tag_check_box_symbol, tag.name %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :tags, "New Tags" %><br />
    <%= text_field_tag :tags, params[:tags] %>
  </div>
	<div class="field">
		<%= f.label :load_photo_file %><br />
		<%= f.file_field :load_photo_file, accept: "image/jpeg" %>
	</div>
	<br />
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
