<%# Locals: %>
<%# photo %>

<% photo_date = photo.taken_date.strftime("%b %-d at %H:%M") %>
<li class="photo-item" id="item_<%= photo.id %>" 
  tags="<% photo.tags.each { |tag| %><%= strip_tags(tag.name) %>,<% } %>">
	<div class="image-vertical-align">
	  <div class="image-horizontal-align">
		  <% thumbnail_fichier = photo.select_fichier('thumbnail') %>
		  <% unless thumbnail_fichier == nil %>
	    	<%= link_to image_tag("/images/" + @photos_dir + photo.select_fichier('thumbnail').filename,
    			class: "photo-thumbnail"), photo_path(photo, tags: params[:tags]) %>
		  <% end %>
      </div>
	</div>
	<span class="photo-title"><%= strip_tags(photo.title) %></span>
	<span class="photo-date"><%= strip_tags(photo_date) %></span>
</li>