<% if @all_tags.count > 0 %>
<div class="tags-list tags-padding">
  <span>Tags</span>
  <form class="select-tags-form">
  <% @all_tags.each do |tag| %>
    <input class="checkbox" type="checkbox" value="<%= strip_tags(tag.name) %>"><%= strip_tags(tag.name) %></input>
  <% end %>
  <input class="clear-tags-form" type="submit" value="clear" />
  </form>
</div>
<% end %>

<div class="photos-list">
	<% @photos.each do |photo| %>
	  <% photo_date = photo.taken_date.strftime("%b %-d at %-I:%-M") %>
		<div class="photos-list-item" id="item_<%= photo.id %>" 
		  tags="<% photo.tags.each do |tag| %><%= strip_tags(tag.name) %> <% end %>">
			<%= link_to image_tag(@photos_dir + photo.select_fichier('thumbnail').filename,
				class: "photo-thumbnail"), photo_path(photo, tags: params[:tags]), class: "kaka" %>
			<span class="photo-title"><%= strip_tags(photo.title) %></span>
			<span class="photo-date"><%= strip_tags(photo_date) %></span>
		</div>
	<% end %>
</div>