<div class="photo-item">
	<div class="navigate-photo-link prev">
		<% unless (@is_first_photo) %>
			<%= link_to '<--', photo_path(@selected_photos[@current_photo_index - 1], tags: params[:tags]) %>
		<% end %>
	</div>
	<div class="photo">
		<div>
			<img id="displayed-photo" src="<%= @photos_dir + @displayed_fichier.filename %>" />
		</div>
		<div>
			<a href="<%= @photos_dir + @photo.select_fichier("small").filename %>">Small</a>
			<% if @photo.select_fichier("medium") != nil %>
				<a href="<%= @photos_dir + @photo.select_fichier("medium").filename %>">Medium</a>
			<% end %>
			<% if @photo.select_fichier("large") != nil %>
				<a href="<%= @photos_dir + @photo.select_fichier("large").filename %>">Large</a>
			<% end %>
			<a href="<%= @photos_dir + @photo.select_fichier("original").filename %>">Original</a>
		</div>
	</div>
	<div class="navigate-photo-link next">
		<% unless (@is_last_photo) %>
			<%= link_to '-->', photo_path(@selected_photos[@current_photo_index + 1], tags: params[:tags]) %>
		<% end %>
	</div>
	
	<div class="meta-data indented">
	  <% if @photo.tags.count > 0 %>
	  <div class="tags">
	    <div class="heading">Tags</div>
	    <div class="tags-list">
	      <% @photo.tags.each_index do |index| %>
          <% tag = @photo.tags[index] %>
          <span class="tag"><%= strip_tags(tag.name) %></span>
          <% if index < @photo.tags.count - 1 %><span>|</span><% end %>
	      <% end %>
	    </div>
	  </div>
	  <% end %>
	  
	  <div class="description">
	    <%= @photo.description %>
	  </div>
	  
    <div class="commentary">
	  	<h2>Comments</h2>
	  	<table>
	  		<% @photo.comments.select { |c| c.id != nil }.each do |comment| %>
	  		<% comment_date = comment.created_at.localtime.strftime("%b %-d at %-H:%-M") %>
	  			<tr>
	  				<td><%= strip_tags(comment.content) %> – by <span class="user"><%= strip_tags(comment.user) %></span> on <span class="date"><%= strip_tags(comment_date) %></span></td>
	  			</tr>
	  		<% end %>
	  	</table>
	  	<div>
	  		<p id="notice"><%= notice %></p>
	  		
	  		<button id="add-comment-button">New comment</button>
	  		<div id="new-comment">
	  			<%= render 'comments/form' %>
	  		</div>
	  	</div>
	  </div>
	</div>
</div>