<div class="photo-item">
	<div class="navigate-photo-link prev">
		<% unless (@is_first_photo) %>
			<%= link_to image_tag(@images_dir + 'back.png'), photo_path(@photos[@current_photo_index - 1], tags: params[:tags]) %>
		<% end %>
	</div>
	<div class="photo">
		<img id="displayed-photo" src="<%= asset_path("#{@photos_dir}#{@displayed_fichier.filename}") %>" />
		<ul class="sizes-list">
			<li>
			  <a href="<%= asset_path("#{@photos_dir}#{@photo.select_fichier("small").filename}") %>">Small</a>
			</li>
			<% if @photo.select_fichier("medium") != nil %>
				<li>
				  <a href="<%= asset_path("#{@photos_dir}#{@photo.select_fichier("medium").filename}") %>">Medium</a>
				</li>
			<% end %>
			<% if @photo.select_fichier("large") != nil %>
				<li>
				  <a href="<%= asset_path("#{@photos_dir}#{@photo.select_fichier("large").filename}") %>">Large</a>
				</li>
			<% end %>
			<li>
			  <a href="<%= asset_path("#{@photos_dir}#{@photo.select_fichier("original").filename}") %>">Original</a>
			</li>
		</ul>
	</div>
	<div class="navigate-photo-link next">
		<% unless (@is_last_photo) %>
			<%= link_to image_tag(@images_dir + 'next.png'), photo_path(@photos[@current_photo_index + 1], tags: params[:tags]) %>
		<% end %>
	</div>
		
	<div class="meta-data indented">
	  <% if @photo.tags.count > 0 %>
	  <h2>Tags</h2>
	  <ul class="tags-list">
	    <% @photo.tags.each_index do |index| %>
        <li>
          <% tag_name = strip_tags(@photo.tags.to_a[index].name) %>
          <%= link_to tag_name, photos_path(tag: "#{tag_name}")  %>
        </li>
        <% if index < @photo.tags.count - 1 %>
          <li class="seperation-item">|</li>
        <% end %>
	    <% end %>
	  </ul>
	  <% end %>
	  
	
		<% if @is_logged_in %>
			<div class="edit">
				<h2>Edit</h2>
				<%= link_to "Rotate Clockwise", "/photos/#{@photo.to_param}/rotate_clockwise", method: :patch %>
			</div>
		<% end %>
	  
	  <div class="description">
		  <h2>Description</h2>
		  <%= @photo.description %>
	  </div>
	  
	  <div class="commentary">
	  	<h2>Comments</h2>
	  	<ul>
	  		<% @photo.comments.select { |c| c.id != nil }.each do |comment| %>
	  		<% comment_date = comment.created_at.localtime.strftime("%b %-d at %-H:%-M") %>
	  			<li>
	  				<%= strip_tags(comment.content) %> – by <span class="user"><%= strip_tags(comment.user) %></span> on <span class="date"><%= strip_tags(comment_date) %></span>
	  			</li>
	  		<% end %>
	  	</ul>
	  	<div>
	  		<button id="add-comment-button">New comment</button>
	  		<div id="new-comment">
	  			<%= render partial: 'comments/form', locals: { commentable: @photo } %>
	  		</div>
	  	</div>
	  </div>
	</div>
</div>