<p>
  <strong>Name:</strong>
  <%= @location.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @location.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @location.city %>
</p>

<p>
  <strong>Country:</strong>
  <%= @location.country %>
</p>

<p>
  <strong>Postal code:</strong>
  <%= @location.postal_code %>
</p>

<p>
  <strong>Coordinates:</strong>
  <%= @location.coordinates %>
</p>

<%= link_to 'Edit', edit_polymorphic_path(@locationable, @location) %> |
<%= link_to 'Back', polymorphic_path(@locationable.class.to_s) %>
