<!DOCTYPE html>
<html>
<head>
  <title>Dan Ofer</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="header">
	  <div class="logo">
	    <h1><a href="/">Dan Ofer</a></h1>
	    <h2><%= link_to "Photos", photos_path %></h2>
	    <h2><%= link_to "About", "cv" %><h2>
	  </div>
	</div>
	<br/>
	
	<div class="page">
		<%= yield %>
	</div>
	<!-- end #page -->
	<div class="footer">
	  <p>Copyright (c) 2012 danofer.com. All rights reserved. Design by Dan Jakob Ofer.</p>
	</div>
	<!-- end #footer -->
</body>
</html>
