<!DOCTYPE html>
<html>
<head>       
  <title>Dan Ofer</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="header">
	  <h1><a href="/">Dan Jakob Ofer</a></h1>
	  <ul class="navigation">
	    <li id="photos-item"><%= link_to "PHOTOS", photos_path %></li>
	    <li id="cv-item"><%= link_to "ABOUT", "/cv" %></li>
	  </ul>
	</div>
	
	<div class="page">
		<%= yield %>
	</div>
	<!-- end #page -->
	<div class="footer">
	  <p>Copyright (c) 2013 danofer.com. All rights reserved. Design by Dan Jakob Ofer.</p>
	</div>
	<!-- end #footer -->
</body>
</html>
