<!DOCTYPE html>
<html>
  <head>       
    <title>Dan Jakob Ofer</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <h1><a href="/">Dan Jakob Ofer</a></h1>
      <ul class="navigation">
        <li id="blogs-item"><%= link_to "Blog", "/blogs/index" %></li>
        <li id="photos-item"><%= link_to "Photos", photos_path %></li>
        <li id="books-item"><%= link_to "Books", books_read_path %></li>
        <li id="cv-item"><%= link_to "About", "/cv" %></li>
        <% if @is_logged_in %>
          <li id="admin"><%= link_to "Admin", admin_url %></li>
        <% end %>
      </ul>
    </header>
    <div class="page">
      <% if notice %>
        <p id="notice"><%= notice %></p>
      <% end %>
      
    	<%= yield %>
    </div>
    <footer>
      <p>danofer.com, 2013</p>
    </footer>
  </body>
</html>
